<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="alert alert-secondary">
          OIDC JWT verification
        </h1>
        <h2>Cookies</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                Name
              </th>
              <th scope="col">
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="value, key in cookies"
              :key="key"
            >
              <th scope="row">
                {{ key }}
              </th>
              <td><code>{{ value }}</code></td>
            </tr>
          </tbody>
        </table>

        <button
          type="button"
          class="btn btn-primary mb-5"
          @click="verify"
        >
          Verify
        </button>
        <div
          v-if="error"
          class="alert alert-danger"
          role="alert"
        >
          {{ error }}
        </div>
        <form v-else>
          <div
            v-if="iat"
            class="alert alert-success"
            role="alert"
          >
            The JWT is verified!
          </div>
          <div class="mb-3">
            <label
              for="username"
              class="form-label"
            >User name</label>
            <input
              id="username"
              type="text"
              readonly
              class="form-control"
              :value="username"
            >
          </div>
          <div class="mb-3">
            <label
              for="email"
              class="form-label"
            >E-mail</label>
            <input
              id="email"
              type="text"
              readonly
              class="form-control"
              :value="email"
            >
          </div>
          <div class="mb-3">
            <label
              for="iat"
              class="form-label"
            >Issued at time</label>
            <input
              id="iat"
              type="text"
              readonly
              class="form-control"
              :value="iat"
            >
          </div>
          <div class="mb-3">
            <label
              for="exp"
              class="form-label"
            >Expiration time</label>
            <input
              id="exp"
              type="text"
              readonly
              class="form-control"
              :value="exp"
            >
          </div>
        </form>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- row -->
</template>

<script>
import * as jose from 'jose'

export default {
  name: 'OidcJwt',
  data () {
    return {
      error: '',
      exp: '',
      iat: '',
      username: '',
      email: '',
      cookies: {}
    }
  },
  mounted () {
    document.cookie.split('; ').forEach(cookie => {
      const kv = cookie.split('=')
      this.cookies[kv[0]] = kv[1]
    })
  },
  methods: {
    verify () {
      const jwt = this.cookies.juggler_token
      const algorithm = 'RS256'
      // this variable will be replaced with the environment variable PUBLIC_KEY by the prepare.sh script
      const spki = '0ca73cf9-1344-4236-9806-a777d7b16f94'
      // this variable will be replaced with the environment variable SERVER_ADDRESS by the prepare.sh script
      const issuer = 'b93d79eb-b4dd-4fc2-990e-38e6e851cc6b/o'
      // this variable will be replaced with the environment variable BASE_URL by the prepare.sh script
      const audience = 'eda2a2e6-8f12-4db3-b62b-9899cf98c640'

      jose.importSPKI(spki, algorithm).then(publicKey => {
        jose.jwtVerify(jwt, publicKey, { issuer, audience }).then(result => {
          this.username = result.payload.username
          this.email = result.payload.email
          this.exp = new Date(result.payload.exp * 1000)
          this.iat = new Date(result.payload.iat * 1000)
        }).catch(err => {
          this.error = err
        })
      }).catch(err => {
        this.error = err
      })
    }
  }
}

</script>
